*{
    margin: 0;
    padding: 0;
}

header,nav,main,footer,aside,section,article{
    display: block;
}
#startFlow{
    position: relative;
    height: 150px;
    left:30%;
}
#startFlow img{
    margin-top: 5%;
    width:35%;
}
#startFlow select{
    display: block;
    width: 150px;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 120%;
    padding-left: 30px;
}
@media (max-width:736px) {


    body{
        background: #f7f6f6;
        height: 750px;
    }

    #wrapper{
        width:100%;
        height: 100%;
    }

    header{
        width:100%;
        height: 9.5%;
        background: #ebebeb;
    }

    #logo{
        display: block;
        width:40%;
        height: 100%;
        background: url("../images/CartPoolLogo.png") no-repeat center;
        background-size: 90% ;
        margin-left: 1.5%;
    }

    header section{
        float: right;
        width: 10.5%;
        height: 100%;
        margin-right: 2.5%;
    }
    header section:nth-child(1){
        background: url("../images/icomMan.png") no-repeat center;
        background-size: 100%;
    }
    header section:nth-child(2){
         background: url("../images/iconHeart.png") no-repeat center;
         background-size: 100%;

     }
    header section:nth-child(3){
        background: url("../images/discountIcon.png") no-repeat center;
        background-size: 70%;
    }

    nav{
        width: 100%;
        height: 6%;
        background: white;
    }
    nav section,nav form, nav input{
        float: right;
        height: 100%;
    }
    #searchBar{
        visibility: hidden;
        height: 50%;
        border-radius: 5px;
        outline: none ;
        border:1px orange solid;

    }


    #searchLabel:hover + #searchBar{
        visibility: visible;
        animation: openSearch 1s 1;

    }
    @keyframes openSearch {
        from{width:0px;border:none;}
        to{width:100%;border:1px orange solid; }
    }


    #searchLabel{
        width:30px;
        height: 30px;
        margin-top: 4.5%;
        display: block;
        float: right;
        background: url("../images/iconSearch.png") no-repeat center;
        background-size: 50%;
        border: 1px solid gray;
        border-radius: 50%;
    }

    nav section:first-child{
        background: url("../images/iconHamburger.png") no-repeat center;
        background-size: 50%;
        width: 12%;

    }
    nav section:first-child:hover{
        background-color: grey;
        background-image: url("../images/iconHamburger2.png");
        transition: 2s;
    }

    nav section:first-child:hover  ul{
        display: block;
        animation: hamburgerListOpen 1s;
        animation-iteration-count: 1;
        z-index: 4;
    }

    @keyframes hamburgerListOpen {
        from {left: 0%; top:0%;}
        to {left:-450%; top:100%;}
    }

    nav section:first-child  ul{
        display: none;
        list-style: none;
        width: 550%;
        position: relative;
        top:100%;
        left:-450%;
    }

    nav section:first-child  li{
        height: 40px;
        background-color: #929292;
        border-top: 1px white solid;
        color: #d6d6d6;
        padding-top: 20px;

        font-size: 150%;
    }
    nav section:first-child  li:first-child{
        height: 120px;
        color: #f7f6f6;
    }
    nav section:first-child  li img{
        width: 12%;
        height: 100%;
        float: left;
        margin-right: 10%;
        margin-left: 2.5%;
        margin-top: -3%;
    }


    nav li:first-child a:first-child{
        background: url("../images/iconLogout.png") no-repeat center;
        background-size: 90%;
        float: right;
    }
    nav li:first-child a:nth-child(2){
        background: url("../images/iconSettings.png") no-repeat center;
        margin-left: 2.5%;
        background-size: 90%;
        float: left;
    }
    nav li:first-child a{
        display: block;
        width:40px;
        height: 40px;
    }
    nav li:first-child article{
        text-align: center;
        font-size: 110%;
        height: 100%;
        background: url("../images/icomMan.png") no-repeat center;
        background-size: 20%;
    }

    main{
        padding-top: 5%;
    }

    h1{
        text-align: center;
        color: #606060;
        font-family: Georgia;
    }
    #selection{
        text-align: center;
        width: 100%;
        margin-top: 10%;
    }
    #selection a{
        display: block;
        text-decoration: none;
        color: #606060;
        background: #ebebeb;
        height: 40px;
        padding-top: 20px;
        font-size: 160%;
    }
    #selection article{
        margin-top: 2.5%;
        margin-bottom: 2.5% ;
        font-size: 120% ;
        background: url("../images/backgroundOr.png") no-repeat center;
        background-size: 100%;
        color: #7a7a7a;
    }
    #selcetMethod{
        width: 85%;
        position: relative;
        left: 5%;
    }
    #selcetMethod span{
        position: relative;
        display: block;
        text-align: center;
        top:78%;
        font-family: Arial;
        z-index: 2;
    }
    #selcetMethod a{
        display: block;
        width: 40%;
        height: 100px;
        float: left;
        margin-left: 9%;
        margin-bottom: 2%;
        margin-top: 10%;
        background: white no-repeat;
        border-radius: 4px;
        border:1px black solid;
        background-size: 35%;
        background-position: center;
        text-decoration: none;
        color: black;
    }
    #selcetMethod a:first-child{
        background-image: url("../images/iconList.png");

    }
    #selcetMethod a:nth-child(2){
        background-image: url("../images/iconSale.png");
    }
    #selcetMethod a:nth-child(3){
        background-image: url("../images/favoriteIcon.png");
    }
    #selcetMethod a:nth-child(4){
        background-image: url("../images/cartIcon.png");
    }

    #lightbox{
        top: 0;
        position: absolute;
        background: rgba(0,0,0,0.3);
        display: none;
        width:100%;
        height: 750px;
    }
    #lightOn{
        position: relative;
        top:18%;
        left:20%;
        padding-top: 10px;
        background: lightgrey;
        border-radius: 5px;
        width:65%;
        height: 250px;
        z-index: 40;
    }

    #lightOn h2{
        text-align: center;
    }
    #lightOn button:first-child{
        position: absolute;
        border-radius: 50%;
        left:102%;
        top:-2.5%;
        width: 30px;
        height: 30px;
    }
    #lightOn h2:nth-child(3){
        margin-bottom: 35%;
    }

    #lightOn button{
        position: relative;
        left: 20%;
        height: 45px;
        margin-right: 5%;
        width: 25%;
        font-size: 110%;
        background: white;
        border-radius: 15%;
    }
    #lightOn span{
        font-family: "Arial Black";
    }

    #lightOn button a{
        text-decoration: none;
    }
    .yesButton{
        color: green;
    }
    .noButton{
        color: red;
    }
    .addList{
        margin-top:10%;
        list-style: none;
        width:100%;
    }
    .addList li{
        padding-top: 15px;
        height: 40px;
        padding-left: 5px;
        font-family: Arial;
        font-size: 120%;
    }
    .addList article{
        width:20px;
        height: 20px;
        background: white;
        border-radius: 2px;
        border:1px solid black;
        float: right;
        margin-right: 3%;
        text-align: center;
        font-size: 90%;
    }
    .addList button{
        width:32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;

        font-size: 130%;
        color: white;
    }
    .addList button:first-child{
        background: orange;
        left: 35%;
    }
    .addList button:nth-child(2){
        background: red;
        left: 55%;
    }
}

@media (min-width:737px) {
    body{
        display: none;
    }
}